{% extends "base.html" %}
{% block content %}
    <h1 class="blog">{{title}}</h1>

        {% if blogs|length == 0 %}
            <p>No blogs yet</p>
        {% else %}
            {% for blog in blogs %}
            <div>
                <h2><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h2>
                <p>{{blog.body}}</p>
                <p>writen by <a href="/all-blogs?user={{blog.owner_id}}">{{users[blog.owner_id].username}}</a></p>
            </div>
            {% endfor %}
        {% endif %}

    <hr />

{% endblock %}